body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#player {
    background-color: black;
    background-size: cover;
    width: 256px;
    height: 256px;
    margin-left: 10em;
    margin-right: 2em;
}

#info {
    margin-top: 2em;
    text-align: center;
}